/* 
dev : Kang Sangun
 */
.mypento_main_div {
    width: 100%;
    height: 100%
}
.mypento_main_div span{
    font-size : 1.3em;
}
.mypento_div {
    padding-top: 4vw;
    margin: auto;
    width: 70%;
    height: 100%
}
.mypento_sub_div {
    height: 80vh;
}
#mypento_sub_div1 {
    display: grid;
    grid-template-columns : 1.2fr 0.8fr;
    background-color: #55c5ee;
}
.mypento-info{
    padding : 10vh;
    display: grid;
    grid-template-rows: 0.87fr 0.15fr 0.3fr 1fr;
    text-align: center
}
.mypento-info img{
    border: 10px solid rgb(24, 36, 59);
    border-radius: 50%;
}
.mypento-intro{
    font-size : 2em;
    padding : 3vh;
    border : 1px solid transparent;
    background: white;
}
.mypento-sub-div-content-2{
    background: orange;
    padding : 10vh;
    display: grid;
    grid-template-rows: 0.1fr 0.8fr;
}
.mypento-sub-div-content-2 div{
    border-bottom: 3px solid rgb(255, 255, 255);
}
#mypento_sub_div3{
    background: rgb(25, 35, 56);
 
}
.my-tale-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    overflow: auto;
    height: 100%;
    
}
.my-tele-list-sub{
    text-align: center;
    padding : 6vh 3vh 3vh 3vh;
 
}
.my-tele-list-sub img{
    width: 100%;
    height: 100%;
}
