.mypento_main_div {
    width: 100%;
    height: 100%
}
.mypento_div {
    padding-top: 3vw;
    margin: auto;
    width: 70%;
    height: 100%
}
.mypento_sub_div {
    height: 80vh;
}
#mypento_sub_div1 {
    display: grid;
    grid-template-columns : 1fr 1fr;
    background-color: #47b7df;
}
#mypento_sub_div1 div{
    padding: 5vw;
}
#mypento_sub_div1{
    width: 100%;
    margin: auto;
    text-align: center;
}

#mypento_sub_div2 {
    display : grid;
    background-color: #ffc609;
    grid-template-columns: 0.3fr 0.7fr;
}
.my-frd-one{
    background-size: cover;
    background-image: url("http://localhost:8000/images/web/mypage_banner_1.png");
}
#mypento_sub_div3 {
    background-color: #141c35;
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
}
.booklistpage{
    background-size: cover;
    background-image: url("http://localhost:8000/images/web/booklist.png");
}
.my-tale-list{
    padding : 1vw;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-column-gap: 1vw;
}
.my-tele-list-sub{
    text-align: center;
    width: 15vw;
    height: 20vw;
}
.my-tele-list-sub img{
    width: 100%;
    height: 100%;
}