.rank-div {
    width: 100%;
    height: auto;
    font-size: 1vw;
}
.border-style{
    border : 1px solid #8d8d8d;
}
.rank-body{
    width: 100vw;
    height: 100vh;
}
#play-list-menu{
    max-height: 80vh;
    overflow: scroll;
    display: grid;
    grid-template-columns : 0.5fr 0.5fr;
    grid-column-gap: 0.5vh;
    grid-row-gap: 0.5vh;
}
#round-list{
    text-align : center;
    display:grid;
    grid-template-rows: 0.9fr 0.1fr;
    transition: 0.3s;
}
#round-list-images img{ 
    width: 100%;
    height: 100%;
}

#round-list:hover{
    background-color: orange;
}
#rank-img{
    text-align: center;
}
#rank-img img{
    width: 100%;
    height: 100%;
}
.rank-body{
    display: grid;
    grid-template-columns : 0.2fr 0.4fr 0.4fr;
    grid-column-gap: 1vw;
    margin : auto auto 3vw auto;
    width: 90vw;
    height: 80vh;

}
.grid-format{

    display : grid;
    grid-gap : 0.5vw;
    grid-template-rows : 0.13fr 0.8fr;
}
#grid-format-2{
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-gap :0.5vw;
}
#body-menu{

}
#body-main{
    text-align : center;
    font-size : 2vw;
}
#user-game-title{
    font-size : 5vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#user-game-round{
   font-size : 5vh;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#body-data{
    display : grid;
    grid-gap: 0.5vw;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows : 0.5fr 0.5fr;
}
#rank-div{
    display: grid;
    grid-template-rows: 0.8fr 0.2fr;
}
.btn-div-design{
    display : grid;
    grid-template-columns : 0.5fr 0.5fr;
    border-top : 1px solid slategray;
}
.btn-div-design button{
    width: 100%;
    height: 100%;
    font-size : 1vw;
    color: white;
    background: transparent;
}
.btn-div-design-1{
    background-color : #60a0ff;
}
.btn-div-design-2{
     background-color : #141c35;
 }
.ranking{
    text-align: center;
    border-top : 1px solid silver;
}